.Card img {
  max-width:300px;
  height: 200px; 
  padding: 2px;
  object-fit: cover
}
.card-body{
  color: black
}
.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: box-shadow .3s;

}
.card-img-top{
  width: 100%; 
  object-fit: contain;
}

.card:hover{
  box-shadow: 0 0 11px rgba(33,33,33,.2)
}

.card-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap!important; 
  justify-content: space-between;
}

.card-container .btn{
  background-color:$primary ;
  border: 2px solid $primary-dark
}

.card-container .btn:hover{
  background-color:$primary-light ;
  border: 2px solid $primary-dark
}

.icons-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 25%;
  color:darken($primary, 10%); 
  margin: 15px 0 15px 0; 
}


.icons-div i{
 
}