
.home-form {
  border: 1px solid $primary-dark
}

.form-container{
  background:lighten($primary, 10%);; 
}

.form-container .btn{
  background-color:$primary-light ;
  border: 2px solid $primary-dark
  

}

.form-container .btn:hover{
  background-color:$primary ;
  border: 2px solid $primary-light
}


.spinner-grow{
  color: $primary;
}