.Home{
  background-color: $secondary;
}


.form-container{
  background:$primary-light; 
  color:#212121; 
}

.form-container .btn{
  background-color:$primary-light ;
  border: 2px solid $primary-dark
  

}

.form-container .btn:hover{
  background-color:$primary ;
  border: 2px solid $primary-light
}


.spinner-grow{
  color: $primary;
}