
.NewHome{
  background-color:lighten(grey, 50%);

}
.home-form {
  border: 1px solid $primary-dark
}

.form-container{
  background:lighten($primary, 10%);; 
}

.form-container .btn{
  background-color:$primary-light ;
  border: 2px solid $primary-dark
  

}

.form-container .btn:hover{
  background-color:$primary ;
  border: 2px solid $primary-light
}


.spinner-grow{
  color: $primary;
}

.cards-column{
  background: $secondary;
}


.FiltersComponent{

}

.CategoryFilterComponent{
  width: 100%;
}

.home-container{
  border-right: 1px dashed #97a4af ; 
  border-left: 1px dashed #97a4af  

}

.filter-list-item{
  list-style-type: none;
  box-sizing: border-box;
  border-radius: .25rem!important;
  background: $secondary; 
  margin-top: 15px;
  padding: 15px;
  overflow: hidden;
  overflow-y: auto;
  max-height: 200px;

}

.filter-list-item::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.filter-list-item::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.filter-list-item::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: $primary;
}


.filter-text{
  border-bottom: 1px dashed #97a4af;
  cursor: pointer;
}
.card-image{
  max-width:120px;
  height: 120px; 
  padding: 2px;
  object-fit: cover

}

.CardComponent{
 border-top:1px dashed #97a4af;
}

.card-component-text{
  overflow: hidden;
  overflow-y: auto;
  height: 50px;
}



.card-component-text::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.card-component-text::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.card-component-text::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: $primary;
}

.reset-filters{
  border: 1px dashed $primary ;
  border-radius: 10px;
  width: 50%; 
  cursor: pointer;
}

.filters-text{
  border: 1px dashed $primary ;
  border-radius: 10px;
  width: 75%
}