.LatestNewsSearch {
	background:$secondary; 
	color: black;
	font-family: $font-body;
	font-weight: 800;
	text-align: center;
	
}

.LatestNewsSearch div{
	background: $secondary;
}
.LatestNewsSearch i{
	color: $base-orange; 
	
}



.LatestNewsSearch .btn:hover {
	background-color: $base-yellow;
	border: 2px solid $base-orange;
}
.fa-newspaper {
	color: #f5c279;
}

.latest-news-search-box {
	background:lighten($base-orange, 10%);
	border: lighten($base-orange, 10%);
}

.search-more {
	bottom: 0;
	right: 0;
	padding: 0 10px;
}
