.Login {
	height: 100vh;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	background:$secondary;
	color:$primary;
}

.btn-success{
width: 100px;
}
.Login input {
	width: 300px;
}
#login-btn {
	background:$primary-light;
	border: 3px solid $primary-dark;
}


#signin-btn {
	background:$primary-light;
	border: 3px solid $primary-dark;
	
	
	
}
