.Login {
	height: 100vh;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	background:$secondary;
	color:$primary;
}
.Login input {
	width: 300px;
}
#login-btn {
	background:$primary-light;
	border: 3px solid $primary-dark;
}
.register{
	position: absolute;
	bottom: 0; 
	left: 0;
	right: 0;
}

#signin-btn {
	background:$primary-light;
	border: 3px solid $primary-dark;
	display: flex;
	justify-content: center;
	bottom: 0;
	
	
	
}
