#navbar {
	width: 100%;
	display: flex;
	align-items: baseline;
}

.navbar {
	margin: 0 !important;
	padding: 0;
	z-index: 1;
	width: 100%;
	background-color: $secondary;  
	height: 50px;
  display: flex; 
	justify-content: space-between;
	font-family: $font-body;
	
}
.ExpandSideBar {
	display: flex;
	align-items: baseline; 
	align-items: center;
	justify-content: center;
	width: 50px;
}
.flex-container{
  display: flex; 


}

.navbar div{
	text-align: center;
	align-self: center;
  width: 33%
}

.navbar li{
	padding: 0;
		margin: 0;
		vertical-align: center;
}


.home-element{
	display: flex;
	align-items: baseline;
	justify-content: baseline;
	
}
.home-element h3{
	padding-top: 10px;
}


.NewNavbar{
	margin-left: 200px;
}

.font-awesome-icon{
	height: 100%;
	color: $primary
}
.font-awesome-icon:hover{
	cursor: pointer;
}