.SearchForSources{
  display: flex;
  flex-direction: column;

  width: 100%;
}

.SearchSourcesForm{
  background: $secondary; 
  justify-content: center;

  
}


.SourcesList{
  background: $secondary-light;
}