.SideBar {
	background: $base-yellow;
	
	height: 100vh;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow: hidden;
	padding-top: 60px;
	transition: 0.5s;
	width: 400px;
	text-align: start;
}
.SideBar li {
	list-style-type: none;
	text-decoration: none;
}
.parent-list-item {
	padding: 5px;

	font-size: 25px;
	color: $base-orange;
	display: block;
	transition: 0.3s;
	background-color: #FFECB3}

.parent-list-item:hover {
	color: #f1f1f1;
	background-color: $base-orange;
}

#closebtn {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 20px;
	display: flex;
	align-items: flex-end;
	height: $m-size;
	width: $m-size;
	color: $base-orange;
	margin-right: 10px;
	margin-top: 5px;
}

.openbtn {
	font-size: 20px;
	height: $m-size;
	width: $m-size;
	margin-top: 10px;
	cursor: pointer;
	background-color: $black;
	color: $base-orange;
	padding: 10px 15px;
	border: none;
}

.openbtn:hover {
	background-color: lighten($black, 10%);
}

.collapsable-list {
	cursor: pointer;
}

.parent-list-item h3 {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}


.folder-items{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: flex-start;
	align-items: baseline;
}

.expand-icon{
	cursor:pointer
}