.UserViewSideBar{
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: $secondary-light!important;
  border: none !important;
  margin-bottom: 10px;
  padding-top: 10px;
}
.avatar{
  max-width: 100px;
  align-self: center;
}