.LatestNewsSearch {
	background: rgb(224, 99, 43);
	background: linear-gradient(
		107deg,
		rgba(224, 99, 43, 1) 4%,
		rgba(225, 63, 97, 1) 78%
	);
	color: white;
}

.fa-newspaper {
	color: #f5c279;
}

.latest-news-search-box {
	background: #f47a86;
	border: #f47a86;
}

.search-more {
	bottom: 0;
	right:0; 
	padding: 0 10px;
}
