p{
  line-height: $line-height-paragraph;
  font-size: $font-size-paragraph; 
}
body{
  font-family: $font-header;
}

hr{
  border-bottom: 1px dashed #97a4af;
  margin: 0 200px
}

h5{
  line-height: $line-height-titles;
}

body .btn{
  background: $primary;
  border: 2px solid $primary-dark; 
  color: $text-color; 
  font-weight: 700;
}
body a{
  text-decoration: none;
  color: $primary
}

body Link{
  text-decoration: none;
  color: $primary

}

body a:hover{
  cursor: pointer
}
body Link:hover{
  cursor: pointer
}

.break{
  word-break: break-all;
}

.dropdown-menu.show{
  width: 300px
}

.dropdown-item:hover{
  background-color: $primary !important
}

@media (max-width: 600px){
  .dropdown-menu.show{
    width: 170px; 
    text-align: center;
   
  }
  .dropdown-item{
    font-size: 12px; 
    word-wrap: break-word;
    text-align: start;    
}
  .dropdown{
    text-align: center;
  }

  .nav-link{
    text-align: center;
  }

}