p{
  line-height: $line-height-paragraph;
  font-size: $font-size-paragraph; 
}
body{
  font-family: $font-header;
}

h5{
  line-height: $line-height-titles;
}

body .btn{
  background: $primary;
  border: 2px solid $primary-dark; 
  color: $text-color; 
  font-weight: 700;
}
body a{
  text-decoration: none;
  color: $primary
}

body Link{
  text-decoration: none;
  color: $primary

}

body a:hover{
  cursor: pointer
}
body Link:hover{
  cursor: pointer
}