// Old colors

$black: black;
$base-orange: #FF5722;
$base-yellow: #FFC107;
$dark-orange:  #d64d23;
$brown: #7E3315;

// Material colors

$primary: #71c9ce; 
$primary-light: #a4fcff;
$primary-dark: #3d989d; 

$secondary: #eeeeee; 
$secondary-light: #ffffff; 
$secondary-dark: #bcbcbc; 

$text-color: #000000;

//Sizes

$m-size: 50px; 
$font-size-paragraph: 18px; 

$line-height-paragraph: 1.5em; 
$line-height-titles: 1.25em; 


