// Old colors

$black: black;
$base-orange: #FF5722;
$base-yellow: #FFC107;
$dark-orange:  #d64d23;
$brown: #7E3315;

// Material colors

$primary: #EF5350; 
$primary-light: #ff867c;
$primary-dark: #b61827; 

$secondary: #eeeeee; 
$secondary-light: #ffffff; 
$secondary-dark: #bcbcbc; 

$text-color: #ffffff;

//Sizes

$m-size: 50px; 
$font-size-paragraph: 18px; 

$line-height-paragraph: 1.5em; 
$line-height-titles: 1.25em; 


// Fonts 


$font-header:  'Montserrat', sans-serif;

$font-header-weight: 400; 

$font-body:'Montserrat', sans-serif;

$font-body-weight-m:400; 
$font-body-weight-l: 700; 
 
